#dayview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left {
    margin-right: auto;
    background-color: green;
}

#middle {
    display: flex;
    flex-wrap: nowrap;
    min-height: 150px;
    min-width: 250px;
    max-height: 150px;
    overflow-y: scroll;
}

#middle #time {
    min-width: 10%;
    min-height: 100%;
    font-size: 10px;
}

#middle #time div {

    background-color: orange;
}

#middle #list {
    background-color: purple;
    padding-inline-start: 0px;
    min-width: 90%;
    min-height: 280px;
    margin-top: 0;
    list-style-type: none;
}

#middle ul li {
    border-radius: 30%;
    font-size: 10px;
    text-align: center;
    height: 10%;
    overflow-y: scroll;
    width: 100%;
    border: calc(1px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(#f9f047, #0fd850);
}

#right {
    background-color: orange;
    margin-left: auto;
}

#current-date-display {
    text-align: center;
}